.App {
  font-family: sans-serif;
  text-align: center;
  margin-top: 150px;
  margin-left: 300px;
}
.flex-container {
  display: flex;
}

.flex-container > div {
  background-color: #000000e3;
  font-size: 25px;
  height: 500px;
  border-radius: 8px;
  width: 800px;
  color: rgba(238, 236, 235, 0.938);
  text-align: justify;
  margin-right: 20px;
}
.img {
  border-radius: 8px;
  padding-right: 20px;
}

#profile {
  -webkit-box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000,
    0px -10px 0px -30px rgba(0, 0, 0, 0);
  box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000,
    0px -10px 0px -30px rgba(0, 0, 0, 0);
}
.title {
  font-size: 20px;
  letter-spacing: 2px;
  word-spacing: 2px;
  color: #d7ff27;
  font-weight: 500;
  text-decoration: none;
  font-variant: normal;
  text-transform: none;
}